.practice-content {

}

.test-title {
  text-align: center;
  padding: 25px;
  font-size: 30pt;
  border: 6px solid;
  border-color: transparent;
  border-bottom-color: #b9b9b9;
  border-radius: 4px;
}

.qst-number {

}

.qst-block {
  width: 30%;
  font-size: 30pt;
  background-color: #a8d4f9;
  text-align: center;
  border-radius: 7px;
  padding: 20px 10px;
  margin: 220px auto;
}

.qst-title {

}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    ". ."
    ". .";
}
.ans-block {
  font-size: 30pt;
  border-bottom: 6px solid #b9b9b9;
  border-radius: 4px;
}

.ans-list {
text-align: center;
}

.ans {
  background-color: white;
  border-radius: 10px;
  padding: 25px 0px;
  transition-duration: 0.3s;
  &:hover{
    background-color: #616161;
    cursor: pointer;
    color: white;
  }
}
.move-buttons{
  text-align: center;
  margin: 70px 0px;
  display: flex;
  justify-content: space-around;
}
.my-button{
  width: 40%;
  font-size: 21pt;
  padding: 16px;
}
.markedAnswer{
  background-color: #CDDC39;
}
.finish-button{
  width: 10%;
}
