<div class="learning-content">
  <div class="remark-block">
    <div class="divisor icon">
      <span>Ділене</span>
    </div>
    <div class="denominator icon">
      <span>Дільник</span>

    </div>
    <div class="result icon">
      <span>Частка</span>

    </div>
  </div>
  <div class="tasks-block">
    <div class="task" *ngFor="let i of tasks">
      <div class="calculation">
        <span class="divisor number">{{i.divisor}}</span>
        <span class="divide symbol"> : </span>
        <span class="denominator number">{{i.denominator}}</span>
        <span class="equals symbol ">=</span>
        <span class="result number">{{i.result}}</span>
      </div>
      <div class="explanation">
        <span class="explanation-text">{{i.description}}</span>
      </div>

    </div>
  </div>
</div>
<div class="navigation-block">
  <button mat-flat-button color="accent" class="my-button" [ngClass]="{'active-n': activeNumber==n}" *ngFor="let n of numbers" (click)="showNumber(n)">{{n}}</button>
</div>
<div class="second-navigation-block">
  <button mat-flat-button color="accent" class="my-button-menu"[routerLink]="['/menu']">Меню</button>
</div>
