<div class="summary-block">
  <div class="summary-title">
    <span class="summary-text">
      Ваш результат: {{summary}}/10
    </span>
    <span class="summary-text-motivation text-sum">
      {{message}}
    </span>
    <span class=" summary-text-quote text-sum">
      {{quote}}
    </span>
  </div>
  <div class="move-buttons">
    <button  class="btn btn-primary my-button"  [routerLink]="['/menu']" >На голову</button>
    <button  class="btn btn-primary my-button" [routerLink]="['/test']">Спочатку</button>
  </div>
</div>
