<div class="practice-content" *ngIf="tasks">
  <div class="test-title">
    <span class=" blc">№ {{this.taskNumber + 1}}/{{this.tasks.length}}</span>
    <span class="blc" [ngClass]="{'timeEnd' : seconds<5}">Час: {{displayTime()}}</span>
  </div>
  <div class="us-progress">
    <mat-progress-bar [color]="color" [mode]="mode" [value]="getValue()"></mat-progress-bar>

  </div>
  <div class="qst-block">
    <span class="qst-title">{{tasks[taskNumber].divisor}} : {{tasks[taskNumber].denominator}} = X</span>
  </div>
  <div class="ans-block">
    <ul class="ans-list grid-container">
      <li class="ans" *ngFor="let o of tasks[taskNumber].options" (click)="makeAnswer(o.value)"
          [ngClass]="{'markedAnswer' : this.tasks[taskNumber].userAnswer==o.value}">
        {{o.value}}
      </li>
    </ul>
  </div>
  <div class="move-buttons">
    <button class="btn btn-danger my-button finish-button" *ngIf="taskNumber<9 && !timeEnd" (click)="submitTest()">
      Завершити
    </button>


    <button class="btn btn-primary my-button" *ngIf="!timeEnd" [disabled]="taskNumber<=0" (click)="movePrev()">Назад
    </button>
    <button class="btn btn-success my-button" *ngIf="taskNumber<this.tasks.length-1 && !timeEnd; else finishBut" (click)="moveNext()">
      Вперед
    </button>
    <ng-template #finishBut>
      <button class="btn btn-warning my-button" (click)="submitTest()">Завершити</button>
    </ng-template>

  </div>

</div>
