.about-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-block {
  margin: 0px auto;
  padding: 25px;
  background-color: #9CCC65;
  border-radius: 9px;
}

.title-text {
  font-size: 32pt;
}

.desc-block {
  width: 88%;
  font-size: 14pt;
  margin: 0 auto;
  background-color: #d2d2d2;
  padding: 25px;
  border: 3px solid #a5a5a5;
  border-radius: 8px;
}

.desc-text {

}

.author-block {
  margin: 0 auto;
  font-size: 13pt;
  background-color: #d2d2d2;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.author-text {
margin: 5px;
}

ul {
  padding-left: 40px;
  padding-top: 10px;
}

ul li {
  list-style: disc;
}

.desc-p {
  padding-left: 15px;
}

.heading {
  margin-bottom: 5px;
}

p {
  text-indent: 30px;
}
