<div class="about-content">
  <div class="title-block">
    <span class="title-text">
      Ділення - це легко та цікаво!
    </span>
  </div>
  <div class="desc-block">
    <p class="desc-text">Наша програма спрямована на вивчення таблиці ділення.
      Зручна та проста у використанні таблиця ділення для всієї родини.</p>
    <p class="desc-text"> Це допоможе вам швидко та легко навчитися діленню.
      Пояснення відповідей допоможе вам краще закріпити отримані знання.
      Спробуйте отримати максимум балів під час тесту!</p>
    <p class="desc-text"> Вивчайте таблицю ділення граючи!</p>

    <span style="font-weight: 500">Гра має 3 режими</span>
    <ul style="list-style: circle">
      <li>
        <h2 class="heading">Вивчення таблиці</h2>
        <p class="desc-p">Вивчи таблицю множення від 1 до 30, а після перевір свої знання вирішуючи приклади на множення
          і ділення.</p>

      </li>
      <li>
        <h2 class="heading">Режим тренування</h2>
        <p class="desc-p">Ти можеш вибрати розмір таблиці, яку хочеш вивчати (х10 або х20, х30), а також тип гри - тест,
          правда чи брехня, введення.</p>
      </li>
      <li>
        <h2 class="heading">Режим тестування</h2>
        <p class="desc-p">Цей режим призначений для того, щоб закріпити матеріал. Потрібно відповісти на 10 питань, без
          обмежень за часом. Після завершення є можливість перевірити якість виконання тесту і подивитися на які питання
          ти відповів невірно. Це допоможе в наступний раз поліпшити результат у вирішенні завдань з таблиці множення і
          зробити навчання ще більш продуктивною!</p>
      </li>
    </ul>
    <p>Отримуй задоволення граючи в Таблицю Множення! Вивчай таблицю множення граючи, змагайся з друзями і будь готовий
      до шкільних тестів!</p>
    <p>Таблиця множення займає особливе місце в початковій школі та її освоєння є однією з головних задач навчання
      математики на цьому етапі.</p>
    <p>За допомогою нашого тренажера школярі будуть отримувати тільки відмінні оцінки з математики,
      а дорослі зможуть потренувати мізки, адже за відсутності навантаження м'язи неминуче слабшають. Те ж відбувається
      і з мозком.</p>
  </div>
  <button mat-flat-button class="my-button-menu"[routerLink]="['/menu']">Меню</button>

  <div class="author-block">
    <span class="author-text">&copy; Просте ділення.</span>
    <span class="author-text">Здендяк Василь. 2020р.</span>
  </div>
</div>
