<div class="menu-content">
  <div class="menu-buttons">
    <ul class="buttons-list">
      <li class="menu-button">
        <a [routerLink]="['/learning']" class="my-link">Навчання</a>
      </li>
      <li class="menu-button">
        <a [routerLink]="['/practice']" class="my-link">Практика</a>
      </li>
      <li class="menu-button">
        <a [routerLink]="['/test']" class="my-link">Тести</a>
      </li>
      <li class="menu-button">
        <a [routerLink]="['/about']" class="my-link">Про нас</a>
      </li>

    </ul>
  </div>

</div>
